<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'displays')}" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="displays" type="java.util.Set<home.gabe.tvword.model.Display>"*/-->
<!--/*@thymesVar id="campaigns" type="java.util.List<home.gabe.tvword.model.Campaign>"*/-->
<!--/*@thymesVar id="filter" type="home.gabe.tvword.model.web.CampaignFilterCommand"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.campagins}">Campaigns</title>
</head>
<body>
<h1 th:text="#{title.campagins}">Campaigns</h1>

<p th:text="#{msg.campaigns}">Here you can find campaigns already defined for your organization:</p>

<form method="get" th:action="@{/admin/campaigns}" th:object="${filter}">
    <span th:text="#{label.filters}">Filters:</span>
    <select id="display" th:field="*{displayId}">
        <option th:text="#{item.allDisplays}" th:value="${-1}">all displays</option>
        <option th:each="display : ${displays}" th:selected="${display.id == filter.displayId}"
                th:text="${display.name}"
                th:value="${display.id}">Display 1
        </option>
    </select>

    <select id="statusFilter" th:field="*{status}">
        <option th:text="#{item.allStatuses}" th:value="${'all'}">all statuses</option>
        <option th:selected="${'A'.equals(filter.status)}" th:text="#{status.A}" th:value="A">Active
        </option>
        <option th:selected="${'D'.equals(filter.status)}" th:text="#{status.D}" th:value="D">
            Deleted
        </option>
    </select>
    <select id="typeFilter" th:field="*{type}">
        <option th:text="#{item.allTypes}" th:value="${'all'}">all types</option>
        <option th:selected="${'P'.equals(filter.type)}" th:text="#{type.P}" th:value="P">Picture
        </option>
        <option th:selected="${'T'.equals(filter.type)}" th:text="#{type.T}" th:value="T">
            Text
        </option>
    </select>
    <input th:value="#{button.refresh}" type="submit">
</form>
<p></p>
<table border="1px" th:if="${!campaigns.isEmpty()}">
    <thead>
    <th th:text="#{header.id}">ID</th>
    <th th:text="#{header.name}">Name</th>
    <th th:text="#{header.type}">Type</th>
    <th th:tex="#{header.display}">Display</th>
    <th th:text="#{header.status}">Status</th>
    <th th:text="#{header.actions}">Actions</th>
    </thead>
    <tr th:each="campaign : ${campaigns}">
        <td th:text="${campaign.id}">5</td>
        <td th:text="${campaign.name}">Campaign 5</td>
        <td th:text="#{${'type.'+campaign.type.type}}">image</td>
        <td>
            <div th:each="display : ${campaign.displays}" th:text="${display.name}">Display 1</div>
        </td>
        <td th:text="#{${'status.'+campaign.status.getStatusCode()}}">Active</td>
        <td><a th:href="${'/admin/campaigns/'+campaign.id}" th:text="#{link.view}">View</a> | <a
                th:href="${'/admin/campaigns/'+campaign.id+'/modify'}" th:text="#{link.modify}">Modify</a></td>
    </tr>
</table>
<p th:if="${campaigns.isEmpty()}" th:text="#{msg.noCampaignToList}">There is no campaign available to show. You may
    consider changing the filters.</p>

<p>
<div style="border: 1px; border-color: black">
    <span th:text="#{label.selectType}">Select type to create:</span>
    <a href="/admin/campaigns/create/text" th:text="#{link.createTextCampaign}">Text Campaign</a> |
    <a href="/admin/campaigns/create/picture" th:text="#{link.createPictureCampaign}">Picture Campaign</a>
</div>
</p>

<script lang="application/javascript">
    function filterList(selectComponent) {
        var displayId = selectComponent.options[selectComponent.selectedIndex].value;
        var url = '/admin/campaigns';
        if (displayId >= 0)
            url = url + '?displayId=' + displayId;

        window.open(url, '_self');
    }
</script>
</body>
</html>