<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'campaigns')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.createPictureCampaign}">Create Picture Campaign</title>
</head>
<!--/*@thymesVar id="campaign" type="home.gabe.tvword.model.web.CampaignCommand"*/-->
<body>
<h1 th:text="#{title.createPictureCampaign}">Create Picture Campaign</h1>
<form enctype="multipart/form-data" th:action="@{/admin/campaigns/createpicprocess}" th:method="post"
      th:object="${campaign}">
    <table>
        <tr>
            <td><label for="name" th:text="#{label.name}">Name: </label></td>
            <td><input id="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label for="startDate" th:text="#{label.startDate}">Start date: </label></td>
            <td><input id="startDate" th:field="*{start}"/></td>
        </tr>
        <tr>
            <td><label for="endDate" th:text="#{label.endDate}">End date: </label></td>
            <td><input id="endDate" th:field="*{expiry}"/></td>
        </tr>
        <tr>
            <td><label th:text="#{label.displaysEnabled}">Enable on displays: </label></td>
            <td>
                <div th:each="display, stat : ${campaign.displays}">
                    <input name="displaysEnabled" th:field="*{displayEnablement[__${stat.index}__]}"
                           th:value="${display.id}" type="checkbox"/>
                    <label th:text="${display.name}">Display 1</label>
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="picture" th:text="#{label.uploadPicture}">Upload picture: </label></td>
            <td><input accept="image/png,image/jpeg,image/jpg,image/gif" id="picture" name="picture" type="file"></td>
        </tr>
        <tr>
            <td><input id="submit" th:value="#{button.create}" type="submit"></td>
            <td><a href="javascript:history.back()" th:text="#{link.cancel}">Cancel</a></td>
        </tr>
    </table>
</form>
</body>
</html>