<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'displays')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.displayList}">Displays</title>
</head>
<body>
<h1 th:text="#{title.displayList}">Displays</h1>

<p th:text="#{msg.displayList}">Here you can find displays already defined for your organization:</p>
<table border="1px">
    <thead>
    <th th:text="#{header.id}">ID</th>
    <th th:text="#{header.name}">Name</th>
    <th th:text="#{header.note}">Note</th>
    <th th:text="#{header.actions}">Actions</th>
    </thead>
    <tr>
        <td>1</td>
        <td>Community Room</td>
        <td>This is the first display in the row</td>
        <td><a href="/admin/displays/modify" th:text="#{link.modify}">Modify</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Entrance Door</td>
        <td>This is the second display in the row</td>
        <td><a href="/admin/displays/modify" th:text="#{link.modify}">Modify</a></td>
    </tr>
</table>

<p><a href="/admin/displays/create" th:text="#{link.createNew}">Create new</a></p>

</body>
</html>