<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="campaign" type="home.gabe.tvword.model.PictureCampaign"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="${campaign.name}">Picture Display</title>
</head>
<body style="background: black; padding: 0px; margin: 0px">
<img id="image" style="position: fixed" th:src="${'/campaigns/'+campaign.id+'/image'}"/>

<script th:src="@{/webjars/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/js/tvword.js}"></script>
<script type="application/javascript">

    function setImageSize() {
        var wh = $(window).height();
        var ww = $(window).width();
        var ih = $('#image').height();
        var iw = $('#image').width();
        var newh = ih;
        var neww = iw;
        var topp = 0;
        var leftp = 0;


        if (wh / ww < ih / iw) {
            // the frame is lower
            newh = wh;
            neww = newh / ih * iw;
            leftp = (ww - neww) / 2;
        } else {
            // frame is heigher
            neww = ww;
            newh = neww / iw * ih;
            topp = (wh - newh) / 2;
        }

        $('#image').css('height', newh);
        $('#image').css('width', neww);
        $('#image').css('top', topp);
        $('#image').css('left', leftp);
    }

    $(window).resize(function () {
        setImageSize()
    });

    setImageSize();
</script>
</body>
</html>