<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="campaign" type="home.gabe.tvword.model.TextCampaign"*/-->
<head>
    <meta charset="UTF-8">
    <meta content="noindex" name="robots">
    <title th:text="${campaign.name}">Text Display</title>
</head>
<body style="text-align: center"
      th:style="${'background:'+campaign.bkgColor}+'; margin-left: 10%; margin-right: 10%; margin-bottom: 0px; margin-top:50px'">
<div id="container" style="width: 100%; height: 100%; text-align: center; ">
    <span id="mainText" th:style="${'color:'+campaign.textColor+';font-size:40px'}" th:text="${campaign.text}">This is the text campaign text.</span>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/js/jquery.textfill.min.js}"></script>
<script th:src="@{/js/tvword.js}"></script>

<script type="application/javascript">

    function setTextSize() {
        $('#container').css('height', $(window).height() - 200);

        $('#container').textfill({
            maxFontPixels: 200,
            allowOverflow: true
        });
    }

    $(window).resize(function () {
        setTextSize()
    });

    setTextSize();

</script>
</body>
</html>
