<!DOCTYPE html>
<html lang="en" th:fragment="layout (template, menu)" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="template" type="java.lang.String"*/-->

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title th:text="#{title.admin}">TVWord Admin</title>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
</head>
<body>

<div>
    | <a href="/admin/displays" th:text="#{menu.manageDisplays}">Manage Displays</a> |
    <a href="/admin/campaigns" th:text="#{menu.manageCampaigns}">Manage Campaigns</a> |
    <a href="/admin/auditLog" th:text="#{menu.auditLogs}">Audit Log</a> |
    <a href="/admin/changepwd" th:text="#{menu.changePassword}">Change Password</a> |
</div>

<div class="container-fluid">
    <div class="container xd-container">
        <hr/>
        <th:block th:include="${template}"/>
        <br/>
        <hr/>
        <form th:action="@{/perform_logout}" th:method="post">
            <input th:value="#{button.logout}" type="submit">
        </form>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">...</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>