<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="noindex" name="robots">
    <title th:text="#{title.accessDenied}">Access denied</title>
</head>
<body>
<h1 th:text="#{error.permissionDenied}">Access denied. You cannot access this resource.</h1>
<p th:text="#{msg.permissionDeniedHint}">You can logout and login in with a different user.</p>
<p><span th:text="#{msg.startDisplay}">You can start a display: </span><a href="/displays/start.json"
                                                                          th:text="#{link.startDisplay}">start
    display</a></p>
<p><span th:text="#{msg.startAdmin}">Or you can start administering stuff: </span><a href="/admin/displays"
                                                                                     th:text="#{link.startAdmin}">admin
    index page</a></p>

<hr/>
<p>
<form th:action="@{/perform_logout}" th:method="post">
    <input th:value="#{button.logout}" type="submit">
</form>
</p>
</body>
</html>