<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.login}">Display Login</title>
</head>
<body>
<h1 th:text="#{title.login}">Display Login</h1>
<div th:if="${error}" th:text="#{error.invalidLogin}">Invalid login ID or password.</div>

<form name="f" th:action="@{/perform_login}" th:method="post">
    <table>
        <tr>
            <td th:text="#{label.user}">User:</td>
            <td><input name='username' type='text' value=''></td>
        </tr>
        <tr>
            <td th:text="#{label.password}">Password:</td>
            <td><input name='password' type='password'/></td>
        </tr>

        <tr>
            <td th:text="#{label.rememberMe}">Remember Me:</td>
            <td><input name="remember-me" type="checkbox"/></td>
        </tr>

        <tr>
            <td><input name="submit" th:value="#{button.login}" type="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>